<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        * {
        font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<p>
    <img width="200px" src="" />
</p>
<p>
    Hola! Este es un reporte automatico de los archivos modificados en las ultimas 24hs en el disco Z:/
</p>
<ul th:remove="all-but-first">
    <li th:each="file : ${changedFiles}" th:text="${file.Path}">File Path</li>
</ul>
<p>Para acceder al disco Z:/ desde su pc siga los pasos descriptos en <a th:href="@{http://www.egallo.com.ar/docs/#/shared/}">http://www.egallo.com.ar/docs/#/shared/</a></p>
<p>Total de archivos modificados: <b><td th:text="${#lists.size(changedFiles)}">##</td></b></p>
<p>
    Saludos,<br/>
    <em>Servus Solutions</em>
</p>
<p>
    Made with (L) in Nürnberg
</p>
</body>
</html>